.Watextarea {  
    overflow: hidden;
    margin:  0;
    padding: 0;
    border:  0;
    outline: 0;
    width: 100%;
    font-size: 20px;
    resize: none;
    color: #0070d2;
    background-color: #0070d2;
    border-radius: 0;
  }

.Watextarea:focus{
    box-shadow: none;
}

.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
}

.dialog_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}
.dialog_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}